  <div class="col-12">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.task_name}}" placeholder="Task Name" name="task_name">
      <label for="floatingInput">Task Name</label>
    </div>
  </div>
  <div class="col-12">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.priority}}" placeholder="priority" name="priority">
      <label for="floatingInput">priority</label>
    </div>
  </div>
  <div class="col-12">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" value="{{this.status}}" placeholder="complete/incomplete" name="status">
      <label for="floatingInput">status</label>
    </div>
  </div>
  <div class="col-12">
    <div class="form-floating mb-3">
      <input type="date" class="form-control" id="floatingInput" value="{{this.created_time}}" placeholder="date" name="created_time">
      <label for="floatingInput">created_time</label>
    </div>
  </div>
  <div class="col-12">
    <div class="form-floating mb-3">
      <input type="date" class="form-control" placeholder="date" id="floatingInput" value="{{this.last_date}}" name="last_date">
      <label for="comments">last_date</label>
    </div>
  </div>
  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>